<% if  user_signed_in? %>
    <h1>Bienvenido <%= current_user.name %> </h1>
<% else%>
    <h1>Bienvenido </h1>
<% end %>

<%= link_to 'Lista', controller: 'articles' %>


<%= link_to 'Nuevo Artículo', new_article_path %>